# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django migrations should usually be committed.
# Ignore only generated cache files inside migrations.
**/migrations/__pycache__/
**/migrations/*.py[cod]

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Documentation builds
docs/_build/
/site

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery runtime files
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environment files
# .env
# *.env

# Virtual environments
.venv/
venv/
# env/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy / type checking
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# production files
installer/src/surface_cdms/wx_config/productionfiles/

# Generated artifacts
**/artifacts/*

# SURFACE CDMS installer runtime/generated files
installer/src/surface_cdms/wx_playbook/env/become_password
installer/src/surface_cdms/wx_playbook/env/connection_password

installer/src/surface_cdms/wx_config/ansible/surface_app/env/become_password
installer/src/surface_cdms/wx_config/ansible/surface_app/env/connection_password
installer/src/surface_cdms/wx_config/ansible/surface_app/env/user
# installer/src/surface_cdms/wx_config/ansible/surface_app/env/production.env
installer/src/surface_cdms/wx_config/ansible/surface_app/env/config_status
installer/src/surface_cdms/wx_config/ansible/surface_app/env/install_type