include README.md
include LICENSE

recursive-include src/surface_cdms/wx_playbook *
recursive-include src/surface_cdms/wx_config *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store

exclude src/surface_cdms/wx_config/db.sqlite3
recursive-exclude src/surface_cdms/wx_config/productionfiles *